/*Global Part*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.primary-btn{
    width: 160px;
    height: 64px;
    border: 0;
    border-radius: 5px;
    background: #FFF;
    padding: 20px 25px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}

/*header Part*/
header{
    background-image: url(../images/banner/banner3.png);
    width: 1600px;
    height: 808px;
}
.banner-contant{
    text-align: right;
    margin-right: 230px;
    position: relative;
}
.banner-title{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    width: 525px;
    position: absolute;
    top: 216px;
    right: 0;
}
.banner-des{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    width: 494px;
    position: absolute;
    top: 468px;
    right: 0;
}
#banner-btn{
    position: absolute;
    top: 560px;
    right: 0;
}
/*Main Part*/

.failures-container{
    display: flex;
    margin: 140px 0;
    gap: 85px;
}
.fail-info{
    margin-top: 220px;
}
.fail-img{
    margin-left: 360px;
}
.fail-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    width: 288px;
    margin-bottom: 24px;
}
.fail-des{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    width: 416px;
    margin-bottom: 16px;
}

.fail-list{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
ul {
    list-style: none;
}
  
  ul li:before {
    content:"\2714\0020";
    margin-right: 5px;
    color: #16D887;
}
/*plans*/
.plan-title{
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.plan-item-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 90px;
    margin-bottom: 135px;
}
.item-img{
    width: 92.958px;
    height: 92.958px;
    margin-bottom: 24px;
}
.item-title{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.item-des{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}